.barra{
    padding-left: 10px;
}

.header{

}

.imagenCircular{
    display: inline-block;
    border-radius: 50%;
    position:relative;
    left: 240px;
    margin-left: 130px;
    padding: 20px;
}

.textpImagenCircular{
    display: inline-block;
}

.tituloCirculo1{
    position: relative;
    right: 570px;
    top: 100px;
}

.textoCirculo1{
    position: relative;
    right:790px;
    top: 120px;
    font-size:small;
}

.tituloCirculo2{
    position: relative;
    right: 680px;
    top: 100px;
}

.textoCirculo2{
    position: relative;
    left: 650px;
    top:14px;
  font-size: small;
}

.tituloCirculo3{
    position: relative;
    left: 765px;
    bottom: 32px;
    
}

.textoCirculo3{
    position: relative;
    left: 550px;
    top: 15px;
    font-size: small;
}


.nombreAlumno{
    margin-top: 30px;
    color: grey;
}
.imagenMedio{
opacity: 0.5;
}
.textoMedio{
    position: relative;
    bottom: 200px;
    left: 100px;
}

.textoMedio2{
    position: relative;
    bottom: 200px;
    left: 100px;
}

.botonMedio{
    position: relative;
    bottom: 200px;
    left: 100px;
}

.contenedorMedio{
    margin-top: 50px;
 
}